@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #061b29 !important;
}

nav {
    width: 100%;
    position: sticky !important;
    left: 0%;
    top: 0%;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, .5);
    z-index: 10;
}

.navbar-brand {
    font-weight: 600;
}

.nav-link {
    color: white !important;
    border-bottom: 1px solid transparent;
}

.nav-link:hover {
    border-bottom: 1px solid white;
}

.navbar-right{
    margin-left: 30px;
}
.navbar-right:hover{
    border-radius: 6px;
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 cyan,
        0 0 100px cyan, 0 0 200px cyan;
}
@media only screen and (max-width: 1024px) {
    .navbar-right:hover{
        border-radius: 6px;
        box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 cyan,
        0 0 100px cyan, 0 0 200px cyan;
}
}

/* section {
    width: 100%;
    height: 100vh;
} */

/* Home section */

#home {
    color: white;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(k1.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 18px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transform: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var);
    margin: 30px 15px 30px 0;
}

.home-sci a:hover {
    background-color: #0ef;
    color: #061b29;
    box-shadow: 0 0 20px #0ef;
}



.home .btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #061b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;
}


.btn-box:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 cyan,
        0 0 100px cyan, 0 0 200px cyan;
}

@media only screen and (max-width: 700px) {
    .home {
        position: relative;
        width: 100%;
        justify-content: space-between;
        height: 70vh;
        background: url(k1.png) no-repeat;
        background-size:cover;
        background-position: center;
        display: flex;
        align-items: center;
        padding: 70px 10% 0;
    }
}

.sub-title {
    text-align: center;
    font-size: 60px;
    color: white;
    padding-top: 2rem;

}

.sub-title span {
    color: #0ef;
}

/* Skills ....................................................*/

#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    background-color: #061b29;
    color: white;
}

.coner {
    width: 500px;
    height: 600px;
    padding: 25px 30px;
    height: 75vh;
}

.heading {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.horizontal-bars .bar {
    margin: 40px 0;
}

.horizontal-bars .bar:first-child {
    margin-top: 0;
}

.horizontal-bars .bar:last-child {
    margin-bottom: 0;
}

.horizontal-bars .bar .info {
    margin-bottom: 5px;
}

.horizontal-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.horizontal-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.horizontal-bars .bar .progress-line span {
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span {
    width: 95%;
}

.progress-line.css span {
    width: 60%;
}

.progress-line.javascript span {
    width: 85%;
}

.progress-line.python span {
    width: 50%;
}

.progress-line.react span {
    width: 75%;
}

.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after {
    content: "90%";
}

.progress-line.css span::after {
    content: "60%";
}

.progress-line.javascript span::after {
    content: "85%";
}

.progress-line.python span::after {
    content: "50%";
}

.progress-line.react span::after {
    content: "75%";
}

.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.radial-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.radial-bars .radial-bar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stroke: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

.path {
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1 {
    animation: animate-path1 1s 1s linear forwards;
}

.path-2 {
    animation: animate-path2 1s 1s linear forwards;
}

.path-3 {
    animation: animate-path3 1s 1s linear forwards;
}

.path-4 {
    animation: animate-path4 1s 1s linear forwards;
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 50;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 175;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 125;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 75;
    }
}

.radial-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.radial-bar .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0%;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0%;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0%;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
/* .................................................. */

@media only screen and (max-width: 768px) {
    .coner {
      width: 100%; 
      padding: 20px; 
      height: auto; 
    }
  
    .horizontal-bars .bar {
      margin: 20px 0; 
    }
  
    .horizontal-bars .bar .info span {
      font-size: 14px;
    }
  
    .progress-line span::after {
      font-size: 10px; 
      top: -20px;
      right: -15px; 
    }
  
    .progress-line span::before {
      top: -7px; 
      right: -5px; 
    }
  
    .radial-bars .radial-bar {
      width: 100%; 
      margin-bottom: 20px; 
      text-align: center; 
    }
  
    .radial-bars .radial-bar svg {
      width: 100px; 
      height: 120px; 
    }
  
    .radial-bar .percentage,
    .radial-bar .text {
      font-size: 14px; 
    }
  }
  
  /* For screens smaller than 480px (mobile devices) */
  @media only screen and (max-width: 480px) {
    .horizontal-bars .bar .info span {
      font-size: 12px; 
    }
  
    .progress-line span::after {
      font-size: 8px;
      top: -15px; 
      right: -10px; 
    }
  
    .progress-line span::before {
      top: -5px; 
      right: -3px; 
    }
  
    .radial-bars .radial-bar svg {
      width: 80px; 
      height: 100px; 
    }
  
    .radial-bar .percentage,
    .radial-bar .text {
      font-size: 12px; /* Further reduce font size for better appearance */
    }
  }
  


/* about */
/* #about h1{
margin-bottom: 80vh;
} */
#about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: white;

}
.content h1{
    font-size: 70px;
}
.content p{
    font-size: 20px;
}
.circle {
    width: 600px;
    height: 600px;
    background: rgb(52, 48, 48);
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, .7);
    transition: 1s;


}

.circle img {
    position: absolute;
    height: 450px;
    top: -10%;
    left: 29%;
    border-radius: 40%;
    filter: drop-shadow(0px 30px 15px rgba(0, 0, 0, .4));
    transition: 1s;
}

.circle:hover {
    width: 900px;
    height: 600px;
    border-radius: 15px;
    transition: 1s;
}

.circle:hover img {
    position: absolute;
    top: 0%;
    left: 0%;
    transition: 1s;

}

.circle:hover .content {
    position: absolute;
    top: 15%;
    right: 5%;
    color: white;
    width: 50%;
    opacity: 1;
    transition: 1s;
}

.circle .content {
    opacity: 0;
}

/* media screen  */

@media screen and (max-width: 576px) {
    .circle {
        width: 400px;
        height: 400px;
        background: rgb(49, 40, 40);
        border-radius: 50%;
        position: relative;
        box-shadow: 0px 5px 12px rgba(0, 0, 0, .7);
        transition: 1s;
    }

    .circle img {
        position: absolute;
        height: 350px;
        top: -18%;
        left: 27%;
        border-radius: 40%;
        filter: drop-shadow(0px 30px 15px rgba(0, 0, 0, .4));
        transition: 1s;
    }

    .circle:hover {
        width: 400px;
        height: 600px;
        border-radius: 10px;
        transition: 1s;
    }

    .circle:hover img {
        position: absolute;
        top: 0%;
        left: 0%;
        transition: 1s;

    }

    .circle:hover .content {
        position: absolute;
        top: 60%;
        right: 0%;
        color: white;
        padding: 15px;
        width: 100%;
        opacity: 1;
        transition: 1s;
    }

    .circle .content {
        opacity: 0;
    }

    .content h1{
        font-size: 35px;
    }
    .content p{
        font-size: 15px;
    }

}
@media screen and (max-width: 250px) {
    .content h1{
        font-size: 20px;
    }
    .content p{
        font-size: 12px;
    }
    .circle img {
        position: absolute;
        height: 350px;
        top: -18%;
        left: 15%;
        border-radius: 40%;
        filter: drop-shadow(0px 30px 15px rgba(0, 0, 0, .4));
        transition: 1s;
    }

}

/* project */
.portfolio{
    height: 125vh;
}

.port-text {
    padding: 2rem 0;
    text-align: center;
  }
.portfolios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
  }
  .portfolios .portfolio-item {
    position: relative;
    border-radius: 15px;
  }
  .portfolios .portfolio-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
  }
  .portfolios .portfolio-item .hover-items {
    width: 100%;
    height: 100%;
    background-color: rgb(19, 196, 209);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
  }
  .portfolios .portfolio-item .hover-items h3 {
    font-size: 1.5rem;
    color: var(--color-white);
    margin-bottom: 1.5rem;
  }
  .portfolios .portfolio-item .hover-items .icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .portfolios .portfolio-item .hover-items .icons .icon {
    background-color: var(--color-primary);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }
  .portfolios .portfolio-item .hover-items .icons .icon i {
    font-size: 1.5rem;
    color: var(--color-white);
    margin: 0 1rem;
  }
  .portfolios .portfolio-item .hover-items .icons .icon:hover {
    background-color: var(--color-white);
  }
  .portfolios .portfolio-item .hover-items .icons .icon:hover i {
    color: var(--color-primary);
  }
  
  .portfolio-item:hover .hover-items {
    opacity: 1;
    transform: scale(1);
  }

  /* .................................................................. */
  @media only screen and (max-width: 768px) {
    .portfolios {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    }
  
    .portfolios .portfolio-item .hover-items h3 {
      font-size: 0.8rem; 
    }
  
    .portfolios .portfolio-item .hover-items .icons .icon {
      width: 35px; 
      height: 35px; 
    }
  
    .portfolios .portfolio-item .hover-items .icons .icon i {
      font-size: 0.8rem; 
    }
  }
  
  @media only screen and (max-width: 480px) {
    .portfolios {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    }
  
    .portfolios .portfolio-item .hover-items h3 {
      font-size: 0.7rem; 
    }
  
    .portfolios .portfolio-item .hover-items .icons .icon {
      width: 30px; 
      height: 30px; 
    }
  
    .portfolios .portfolio-item .hover-items .icons .icon i {
      font-size: 0.7rem; 
    }
  }
  @media only screen and (max-width: 685px) {
    .portfolio{
        height: 130vh;
    }
  }
  @media only screen and (max-width: 415px) {
    .portfolio{
        height: 150vh;
    }
  }
  @media only screen and (max-width: 339px) {
    .portfolio{
        height: 235vh;
    }
  }

/* contact */

:root {
    --color-primary: #191d2b;
    --color-secondary: #0ef;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
}

.light-mode {
    --color-primary: #FFFFFF;
    --color-secondary: #F56692;
    --color-white: #454e56;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #6c7983;
    --color-grey-2: #6c7983;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #f8f8f8;
    --color-grey-6: #12181b;
  }



.fcontact{
    margin-top: 4em;
    margin-bottom: 100px;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all 0.4s ease-in-out;
    min-height: 100vh;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}


.contact-content-con {
    display: flex;
    padding-top: 3.5rem;
}

.contact-content-con .left-contact {
    flex: 2;
}

.contact-content-con .left-contact h4 {
    margin-top: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
}

.contact-content-con .left-contact p {
    margin: 1rem 0;
    line-height: 2rem;
}

.contact-content-con .left-contact .contact-info .contact-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-content-con .left-contact .contact-info .contact-item p {
    margin: 0.3rem 0 !important;
    padding: 0 !important;
}

.contact-content-con .left-contact .contact-info .contact-item .icon {
    display: grid;
    grid-template-columns: 40px 1fr;
}

.contact-content-con .left-contact .contact-info .contact-item .icon i {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.contact-content-con .left-contact .contact-icon {
    display: flex;
    margin-top: 2rem;
}

.contact-content-con .left-contact .contact-icon a {
    display: flex;
    align-items: center;
    color: var(--color-white);
    background-color: var(--color-grey-5);
    cursor: pointer;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 0.4rem;
    transition: all 0.4s ease-in-out;
}

.contact-content-con .left-contact .contact-icon a:hover {
    background-color: var(--color-secondary);
}

.contact-content-con .left-contact .contact-icon a:hover i {
    color: var(--color-primary);
}

.contact-content-con .left-contact .contact-icon a i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

.contact-content-con .right-contact {
    flex: 3;
    margin-left: 3rem;
}

.contact-content-con .right-contact .input-control {
    margin: 1.5rem 0;
}

.contact-content-con .right-contact .input-control input,
.contact-content-con .right-contact .input-control textarea {
    border-radius: 30px;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 0.8rem 1.1rem;
    outline: none;
    border: none;
    background-color: var(--color-grey-5);
    width: 100%;
    color: var(--color-white);
    resize: none;
}

.contact-content-con .right-contact .i-c-2 {
    display: flex;
}

.contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 1.5rem;
}

.contact-content-con .right-contact .submit-btn {
    display: flex;
    justify-content: flex-start;
}


/*Independed components*/
.btn-con {
    display: flex;
    align-self: flex-start;
}

.main-btn {
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;
    background-color: #061b29;
}

.main-btn .btn-text {
    padding: 0 2rem;
}

.main-btn .btn-icon {
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
}

.main-btn::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 0.4s ease-out;
    z-index: -1;
}

.main-btn:hover {
    transition: all 0.4s ease-out;
}

.main-btn:hover::before {
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    transform: translateX(0);
    transition: all 0.4s ease-out;
}

.main-title {
    text-align: center;
    padding-top: 100px;
}

.main-title h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    color: white;
}

.main-title h2 span {
    color: var(--color-secondary);
}

.main-title h2 .bg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--color-grey-5);
    transition: all 0.4s ease-in-out;
    z-index: -1;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 6.3rem;
}
.port-text{
    color: white;
}

@media screen and (max-width: 1024px) {

    .contact-content-con {
        flex-direction: column;
    }

    .contact-content-con .right-contact {
        margin-left: 0;
        margin-top: 2.5rem;
    }

    .contact-content-con .right-contact .i-c-2 {
        flex-direction: column;
    }

    .contact-content-con .right-contact .i-c-2 :last-child {
        margin-left: 0;
        margin-top: 1.5rem;
    }

    .contact-content-con .right-contact {
        margin-bottom: 6rem;
    }

    .main-title h2 .bg-text {
        font-size: 5.5rem;
    }
}
@media only screen and (max-width: 899px) {
    .fcontact {
        padding: 30px 20px;
    }
    .contact-content-con {
        flex-direction: column;
    }
    .contact-content-con .left-contact, .contact-content-con .right-contact {
        margin: 0;
        width: 100%;
    }
    
}
@media only screen and (max-width: 410px) {
    .contact-item #mobile{
        font-size: 10px;
    }
}

/* login */


#login {
    height: 900px;
    padding-top: 5%;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(75, 14, 154, 1) 35%, rgba(0, 212, 255, 1) 100%);

}

.mx-auto {
    width: 24%;
    background: white;
    padding: 50px;
    border-radius: 20px;
    margin-top: 100px;
}

.mx-auto .btn-primary {
    width: 100%;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(75, 14, 154, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.mx-auto .form-control {
    color: rgba(0, 0, 0, .87);
    border-bottom-color: rgba(0, 0, 0, .87);
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
}

h4 {
    font-size: 2rem !important;
    font-weight: 700;
}

.mx-auto .form-label {
    font-family: 800 !important;
}

/* 
media screen */
@media only screen and (max-width: 1024px) {
    .mx-auto {
        width: 75%;
    }
}

footer {
    background-color: #111;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    background-color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7s;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 5;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.designer1 {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
    color: #0ef;
}

/* media screen */

@media (max-width:700px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}


/* ............................................................ */

